# Base de datos
DATABASE_URL="postgresql://postgres:password123@localhost:5432/onebusiness"

# JWT
JWT_SECRET="tu-secreto-super-seguro-minimo-32-caracteres"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"

# Resend (Email)
RESEND_API_KEY=
RESEND_FROM_EMAIL=
